body{
    background-color: #13cdf2;
    color: white;
    font-family: Verdana, sans-serif;
}

#title_login{
    text-align: center;
}

label{
    font-weight: bold;
}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
}

#botao_login{
    border-color: white;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
}

#input_login{
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border-color: white;
    margin-bottom: 35px;
    margin-top: 35px;
}

#form_login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#botao_posts{
    margin: 15px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 8px;
    color: black;
    background-color: white;
    text-decoration: none;
}

#posts_title{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#posts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#post{
    padding: 10px;
    border: 2px solid white;
    background-color: white;
    color: black;
    border-radius: 8px;
}

#addPost_title{
    text-align: center;
}

#botao_post{
    border-color: white;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
}

#input_post{
    padding: 15px;
    outline: none;
    border-radius: 5px;
    border-color: white;
    margin-bottom: 35px;
    margin-top: 35px;
}

#form_post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}